* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    outline: none;
    border: none;
}

.background {
    background: #07121c;
    width: 100dvw;
    height: 100dvh;
    position: fixed;
    z-index: -99;
}

.main {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.option-bar {
    width: 500px;
    height: 80px;
    background-color: #0a1c2b;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    transform: translateY(-30px);
    transition: transform 2.4s ease-in-out;
}

.option {
    height: 80px;
    width: 80px;
    border-radius: 20px;
    background-color: #0c2032;
    box-shadow: 0px 0px 15px #07121c;
    transform: translateY(-300px);
    transition: transform 0.8s ease-in-out, background-color 0.1s ease-in-out;
}

.option:hover {
    background-color: #12314c;
    cursor: pointer;
}

.content {
    height: 65dvh;
}